<% @title = 'Collections' %>

<% form_tag collections_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table border=0>
  <tr>
    <th>Name</th>
    <th width=10%>&nbsp;</th>
    <th colspan=3>&nbsp;</th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td nowrap="nowrap"><%=h collection.name %></td>
    <td><% if permitted_to? :show, collection %>&nbsp;<% else %><strong>(<%=h collection.status %>)<strong><% end %></td>
    <td><%= link_to '<img src="/images/eye.jpg" border="0">', collection.url_about, {:target => "_blank"} if permitted_to? :show, collection %></td>
    <td><%= link_to '<img src="/images/delta.jpg" border="0">', edit_collection_path(collection) if permitted_to? :edit, collection %></td>
    <td><%= link_to '<img src="/images/remove.jpg" border="0">', collection, :confirm => 'Are you sure?', :method => :delete if permitted_to? :delete, collection %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New collection', new_collection_path if permitted_to? :create, :collections %>