<% @title = 'New Collection' %>

<% form_for(@collection) do |f| %>
  <%= f.error_messages %>

    <%= hidden_field_tag("collection[user_id]", current_user.id) %>

    <table width=100%>
      <tr>
        <td>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
	</td>
	
	<td rowspan=6>
	  <%= f.label "Categories" %>
		<% if current_user.roles.to_s == "admin" %>
		  <% find_id = 170 %>
		<% else %>
		  <% find_id = 170 %>
		<% end %>
          <%= tree_multiple_select('collection', 'category_ids', Category.with_permissions_to(:read).find(:all, :conditions => ["parent_id = ?", find_id], :order => "categories.name ASC"), :id, :name, :outer_class => 'multiple_select', :inner_class => 'multiple_select_checkbox') %>
	</td>
      </tr>

      <tr>
        <td>
          <%= f.label :organization %><br />
          <%= f.text_field :organization %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :status %><br />
          <%= f.select("status", %w[Active OffLine Unavailable], {}, {}) %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :privacy %><br />
          <%= f.select("privacy", %w[Public Personal Registered-Users-Only IP-Only SOAP-Only], {}, {}) %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :country %><br />
          <%= f.select("country", "", {}, {:onchange => "populateState()"}) %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :state %><br />
	  <%= f.select("state", "", {}, {}) %>
	    <script type="text/javascript">initCountryAndState('US',''); </script>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :city %><br />
          <%= f.text_field :city %>
        </td>
      </tr>
    </table>
  
  <p><%= f.label :url_about, 'URL for a descriptive overview about the Collection' %><br />
    <%= f.text_field :url_about, :size => 80 %></p>
  
  <p><%= f.label :notes, "Notes" %><br />
    <%= f.text_area :notes, :cols => 50, :rows => 3 %></p>
  
    <table width=100%>
      <tr valign="top">
        <td>
          <%= f.label :meta %><br />
            <%= f.text_area :meta, :rows => 2, :cols => 30 %>
        </td>
    
        <td width=5%>&nbsp;</td>
    
        <td>
          <%= f.label :contact_info %><br />
            <%= f.text_area :contact_info, :cols => 35, :rows => 2 %>
        </td>
      </tr>
    </table>

  <p><%= f.submit 'Create' %>
<% end %>
&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Back', collections_path %></p>
