<% @title = 'Collection' %>

<p><b>Name:</b>
  <%=h @collection.name %></p>

<p><b>Organization:</b>
  <%=h @collection.organization %></p>

<p><b>Status:</b>
  <%=h @collection.status %></p>

<p><b>Privacy:</b>
  <%=h @collection.privacy %></p>
	
<p><b>Meta information</b>
  <%=h @collection.meta %></p>

<p><b>URL for a descriptive overview about the Ontology</b>
  <%=h @collection.url_about %></p>

<p><b>Notes:</b>
  <%=h @collection.notes %></p>

<p><b>Contact Info:</b>
  <%=h @collection.contact_info %></p>
  
<p>
  <b>Categories:</b>
  <% if @collection.categories(@collection).empty? %>
	  <em>(none found)</em>
  <% else %>
	  <ul>
		<% for ontology in @collection.categories %>
		  <li><%=h ontology.name %> 
		  <%= link_to '<img src="/images/eye.jpg" border="0">', collections_ontology_path if permitted_to? :show, ontology %>
    	  <%= link_to '<img src="/images/delta.jpg" border="0">', edit_collections_ontology_path(@collection) if permitted_to? :edit, ontology %>
		  <%= link_to '<img src="/images/remove.jpg" border="0">', collections_ontology_path(ontology.id) if permitted_to? :delete, ontology, :confirm => 'Are you sure?', :method => :delete %></li>
		<% end %>
	  </ul>
  <% end %>

  <%= indent %><%= link_to '<img src="/images/add.jpg" border="0">', new_collections_ontology_path(:collection_id => @collection.id) if permitted_to? :create, :collections %>
</p>

<p>
	<%= link_to 'Edit', edit_collection_path(@collection) if permitted_to? :edit, :collections %> |
	<%= link_to 'Back', collections_path %>
</p>