<% @title = 'Edit Team' %>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :name %><br />
    <%= f.text_field :name %></p>

  <p><%= f.label :description %><br />
    <%= f.text_area :description %></p>

  <p><%= f.label :privacy %><br />
    <%= f.text_field :privacy %></p>

  <p><%= f.submit 'Update' %></p>

<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>