
<!--<table cellpadding="20" cellspacing="0" border="0">
<tr><td> -->
<% @title = 'Log In' %>

<blockquote>
  <p>Note: <em>You do not need to login if you are searching our public catalog. By logging in you will be able to add new Collections, and add new Categories to catalog them with.</em></p>

  <p>Also, you can always access the system via "username=<strong>test</strong>" and "password=<strong>tester</strong>".</p>

  <p>To create your own login click the "Sign up" link at the bottom of the page.</p>
</blockquote>

<% form_tag session_path do -%>
<p><%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality -->
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>

<%= javascript_tag "$('login').focus()" %>
<%= link_to 'Sign up', :signup %> 

<!--</td><td>

<p>Please check your email.</p>

An email has just been sent to you, which will need to verify receipt of, in order to login.


</td></tr></table> -->
