<% @title = 'Topics' %>

<table>
  <tr>
    <th>Topic name</th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%=h topic.topic_name %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic', new_topic_path %>
