<% @title = 'User Ontologies' %>

<table>
  <tr>
    <th>Ontology</th>
    <th>User</th>
  </tr>

<% @ontologies_users.each do |ontologies_user| %>
  <tr>
    <td><%=h ontologies_user.ontology %></td>
    <td><%=h ontologies_user.user %></td>
    <td><%= link_to 'Show', ontologies_user %></td>
    <td><%= link_to 'Edit', edit_ontologies_user_path(ontologies_user) %></td>
    <td><%= link_to 'Destroy', ontologies_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ontologies_user', new_ontologies_user_path %>