<% @title = 'New Relationship' %>

<% form_for @relationship do |f| %>
  <%= f.error_messages %>
  <p><%= label(:collection, :id, 'Category') %><br />
	<strong><%= @category.name %></strong>
	<%= hidden_field_tag("relationship[category_id]", @category.id) %></p>

  <p>
    <%= label(:synonym, :id, 'Synonym') %><br />
    <%#= tree_select(Category.find(:all, :conditions => "parent_id = 1"), 'relationship', 'synonym_id',  @category) %>
    
    <%= tree_multiple_select('category_id', 'synonym_ids', Category.with_permissions_to(:read).find(:all, :conditions => ["parent_id = ?", 170], :order => "categories.name ASC"), :id, :name, :outer_class => 'multiple_select', :inner_class => 'multiple_select_checkbox') %>
   <%#= tree_multiple_select('collection', 'category_ids', Category.with_permissions_to(:read).find(:all, :conditions => ["parent_id = ?", find_id], :order => "categories.name ASC"), :id, :name, :outer_class => 'multiple_select', :inner_class => 'multiple_select_checkbox') %>

  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

<p><%= link_to "Back to Taxonomy", taxonomy_path(@category.taxonomy.id) %></p>
