<%# NOTE: The "Declarative Authorization" seems to require that "guests" can both
"create" and "show" User records, toward the end that they will need those
two permissions when creating their login.

The following two IF statements are an attempt to: %>
<%# 1) exclude "guests" from seeing all users %>
<% if authorized? %>
  <%# 1) exclude logged in users from seeing any users except for their own. %>
  <% if current_user.id == @user.id %>
    <% @title = 'Edit User' %>
    
    <% form_for(@user) do |f| %>
      <%= f.error_messages %>
    
      <p><%= f.label :first_name %><br />
	<%= f.text_field :first_name %></p>
    
      <p><%= f.label :last_name %><br />
	<%= f.text_field :last_name %></p>
    
      <p><%= label_tag 'login', 'Username' %><br/>
	<%= f.text_field :login %></p>
    
      <p><%= label_tag 'password' %><br/>
	<%= f.password_field :password %></p>
    
      <p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
	<%= f.password_field :password_confirmation %></p>
    
      <p><%= f.label :email %><br />
	<%= f.text_field :email %></p>
    
      <p>
	<%= f.label :roles %><br />
	<%= f.select :roles, (controller.authorization_engine.roles + (@user.roles.to_a || [])).uniq, {}, {:multiple => true} %>
      </p>
    
      <p>
	<%# for role in @roles_assignable %>
	  <div>
		<%# if @roles_assignable.length >= 2 %>
		  <%#= check_box_tag "user[roles][]", role, @user_roles.include?(role) %>
	    <%# else %>
		      <%# Note: The "disabled" status of checkbox means that no form variable gets transferred, which is okay, as we do not want to update that field anyway. %>
		  <%#= check_box_tag "user[roles][]", role, @user_roles.include?(role), :disabled => true %>
	    <%# end %>
	    <%#= role %>
	  <%# end %>
	    </div>
      </p>
    
      <p><%= label(:validation, :id, 'validation') %>
	<%= collection_select(:user, :validation_id, Validation.find(:all), :id, :name, options = {}, html_options = {}) %></p>
    
      <p><%= f.submit 'Update' %></p>
    
    <% end %>
    
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
  <% end %>
<% end %>
