<% @title = 'Edit User Taxonomy' %>

<p>
  <b>Taxonomy:</b>
  <%=h @taxonomies_user.taxonomy %>
</p>

<p>
  <b>User:</b>
  <%=h @taxonomies_user.user %>
</p>

<p>
  <b>Role:</b>
  <%=h @taxonomies_user.role %>
</p>


<%= link_to 'Edit', edit_taxonomies_user_path(@taxonomies_user) %> |
<%= link_to 'Back', taxonomies_users_path %>