<% @title = 'Ontologies' %>

<blockquote>
  Notes:<br /><em>
    <p>1) The word "Ontology" refers to a group of related Categories. Opening an Ontology listed below, will reveal the Categories within it.</p>
    <p>2) Setting an Ontology's "Status => Locked" (which can only be done by the "owner") enables the internationalization of the Ontology, and the translation of the related Categories, into multiple languages.</p>
  </em><br />&nbsp;
</blockquote>

<table border=0>
  <tr>
    <th align="left">Name</th>
    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th align="left">Status</th>
    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th align="left" colspan=5>Privacy</th>
  </tr>

<% @ontologies = @ontologies.find(:all).sort_by(&:name) %>

<% @ontologies.each do |ontology| %>
  <% if ontology.internationalization_id.nil? %>
    <tr>
      <td nowrap="nowrap"><%=h ontology.name %></td>
      <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td nowrap="nowrap"><%=h ontology.status %></td>
      <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td nowrap="nowrap"><%=h ontology.privacy %></td>
      <td><% if permitted_to? :show, ontology %>&nbsp;<% else %><strong>(<%=h ontology.status %>)<strong><% end %></td>
      <td align="center">
	<%= link_to '<img src="/images/eye.gif" border="0">', ontology if !permitted_to? :edit, ontology %>
	<%= link_to '<img src="/images/delta.gif" border="0">', ontology if permitted_to? :edit, ontology %>
      </td>
      <td><%#= link_to '<img src="/images/remove.gif" border="0">', ontology, :confirm => 'Are you sure?', :method => :delete if permitted_to? :delete, ontology %></td>
      <td>
	  <%= link_to '<img src="/images/translate.gif" border="0">', new_ontology_path(:internationalization_id => ontology.id), :confirm => 'You are about to enable this Collection for internationalization. Once enabled, then you cannot modify existing categories nor their relationship "tree" structure. However, you can add new category "branches", but cannot modify even those new ones once created.', :method => :create  if permitted_to? :internationalize, ontology %>
	  </td>
    </tr>
  <% elsif !ontology.internationalization_id.nil? %>
      <tr>
	<td nowrap="nowrap"><%= indent %><em><%=h ontology.name %></em></td>
	<td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td nowrap="nowrap"><%=h ontology.status %></td>
	<td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td nowrap="nowrap"><%=h ontology.privacy %></td>
	<td><% if permitted_to? :show, ontology %>&nbsp;<% else %><strong>(<%=h ontology.status %>)<strong><% end %></td>
	<td>
	  &nbsp;
	</td>
	<td>
	  &nbsp;
	</td>
	<td align="center">
	  <%= link_to '<img src="/images/eye.gif" border="0">', ontology if !permitted_to? :edit, ontology %>
	  <%= link_to '<img src="/images/delta.gif" border="0">', ontology if permitted_to? :edit, ontology %>
	</td>
      </tr>
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'New ontology', new_ontology_path if permitted_to? :create, :ontologies %>