<% @title = 'Ontology' %>

<% indent_small = "&nbsp;&nbsp;" %>
    
    <!-- O N T O L O G Y -->
    <table width=100% cellpadding=5>
      <tr>
        <td>
          <b>Name:</b> <%=h @ontology.name %>
        </td>
        
        <td width=10%>&nbsp;</td>
        
        <td>
          <b>Language:</b> <%=h @ontology.language.english_name %>
        </td>
      </tr>
      
      <tr>
        <td>
          <b>Status:</b> <%=h @ontology.status %>
        </td>
        
        <td width=10%>&nbsp;</td>
        
        <td>
          <b>Privacy:</b> <%=h @ontology.privacy %>
        </td>
      </tr>
      
      <tr>
        <td colspan=3>
	  <b>Internationalizations:</b> <em>When the above "Status => Locked", then the Ontology can be internationalized into parallel Ontologies in different languages.</em><br />
	  <ul>
	    <% for internationalization in @Internationalizations %>
	      <li><%=h internationalization.name %></li>
	    <% end %>
	  </ul>
        </td>
      </tr>
      
      <tr>
        <td colspan=3>
          <b>URL for a descriptive overview about the Ontology</b><br />
          <%= indent %><% if @ontology.url_about.length > 0 %><a href="<%=h @ontology.url_about %>" target="_blank"><%=h @ontology.url_about %></a><% else %><em>(none supplied)</em><% end %>
        </td>
      </tr>
      
      <tr>
        <td colspan=3>
          <b>URL for HTML searches</b><br />
          <%= indent %><% if @ontology.url_category_html.length > 0 %><a href="<%=h @ontology.url_category_html %>" target="_blank"><%=h @ontology.url_category_html %></a><% else %><em>(none supplied)</em><% end %><br />
          <%= indent %>Include [category] marker if available.<br />
          <%= indent %>ex. http://www.bostonindicators.org/Indicators2008/[category]':
        </td>
      </tr>
      
      <tr>
        <td colspan=3>
          <b>URL for XML searches</b><br />
          <%= indent %><% if @ontology.url_category_xml.length > 0 %><a href="<%=h @ontology.url_category_xml %>" target="_blank"><%=h @ontology.url_category_xml %></a><% else %><em>(none supplied)</em><% end %><br />
          <%= indent %>Include [category] marker if available.<br />
          <%= indent %>ex. http://www.bostonindicators.org/Indicators2008/[category]':
        </td>
      </tr>
      
      <tr>
        <td colspan=3>
	  <b>Meta:</b><br />
	   <%=h @ontology.meta %>
        </td>
      </tr>
    </table>
    
<%= link_to 'Edit', edit_ontology_path(@ontology) if permitted_to? :edit, @ontology %> |
<%= link_to 'Back', ontologies_path %>

<p>&nbsp;</p>

<!-- C A T E G O R I E S -->
<p>
  <b>CATEGORIES:</b><br />
  
  <blockquote>
    <table width=100%>
      <tr>
	<%# Note: Following loop is just for the single "Parent" category. %>
	<% for category in @ontology.categories.with_permissions_to(:read).find_all_by_parent_id(1) %>
          <td style="background-color:#BCFCC1; width=10; vertical-align:top" nowrap>
	    <% @Category_Branch_Root = category.id %>
	    <b><%= category.name %></b>
	    <%= link_to '<img src="/images/add.jpg" border="0">', new_category_path(:parent_id => category.id, :uroot_id => @Category_Branch_Root) if permitted_to? :create, :categories %>
            <% if @ontology.status != "Locked" %>
	      <%= link_to '<img src="/images/delta.jpg" border="0">', :controller => 'categories', :action => 'edit', :id => category.id, :uroot_id => @Category_Branch_Root if permitted_to? :edit, category %>
	    <% end %>
	    <% if Category.with_permissions_to(:read).find_all_by_parent_id(category.id).empty? %>
	      <% if @ontology.status != "Locked" %>
		  <%= link_to '<img src="/images/remove.jpg" border="0">', category, :confirm => 'Are you sure you want to remove the top-level Category?', :method => :delete if permitted_to? :delete, category %>
	      <% end %>
	    <% else %>
		  <%= link_to '<img src="/images/xml.jpg" border="0">', :controller => 'categories', :action => 'tree', :id => category.id, :format => :xml %>
		  <%= link_to '<img src="/images/eye.jpg" border="0">', :controller => 'categories', :action => 'tree', :id => category.id, :uroot_id => @Category_Branch_Root %>
	    <% end %>
	  </td>
	<% end %>
	  
	<!-- I N T E R N A T I O N A L I Z A T I O N S -->
	<% if @ontology.status == "Locked" %>
	  <% for internationalization in @Internationalizations %>
	    <td style="width=5">&nbsp;</td>
	    <td style="background-color:#c4cdfd; width=10; vertical-align:top" nowrap>
	      <% for category in @ontology.categories.with_permissions_to(:read).find_all_by_parent_id(1) %>
		<% @Category_Branch_Root = category.id %>
		Language: <b><%= internationalization.language.english_name %></b>
	      <% end %>
	    </td>
	  <% end %>
	<% end %>
      </tr>
      <% if @ontology.categories(@collection).empty? %>
	<tr>
	  <td>
	    <em>(none found)</em>
	    
	    <%= link_to '<img src="/images/add.jpg" border="0">', new_category_path(:ontology_id => @ontology.id, :uroot_id => 1) if permitted_to? :create, :categories %>
	  </td>
	</tr>
      <% else %>
	    <% for category in @Category_tree %>
	      <% @Category_Branch_Root = category.id %>
	      <tr>
		<td>
		  <%= indent_small %><em><strong><%= h(category.name) -%></strong></em>
		  <% if @ontology.status != "Locked" %>
		    <%= link_to '<img src="/images/add.jpg" border="0">', new_category_path(:parent_id => category.id, :uroot_id => @Category_Branch_Root) if permitted_to? :create, :categories %>
		    <%= link_to '<img src="/images/delta.jpg" border="0">', :controller => 'categories', :action => 'edit', :id => category.id, :uroot_id => @Category_Branch_Root if permitted_to? :edit, category %>
		    <% if Category.with_permissions_to(:read).find_all_by_parent_id(category.id).empty? %>
		     <%= link_to '<img src="/images/remove.jpg" border="0">', category, :confirm => 'Are you sure you want to delete this category?', :method => :delete if permitted_to? :delete, category %>
		    <% end %>
		  <% end %>
		  <%= indent_small %><%= link_to '<img src="/images/newPage.gif" border="0">', new_post_path(:category_id => category.id) %>

		</td>
		<!-- I N T E R N A T I O N A L I Z A T I O N S -->
		<% if @ontology.status == "Locked" %>
		  <td style="width=5">&nbsp;</td>
		  <td valign="top" nowrap>
		    <% for translation in Category.find_all_by_translation_id(category.id) %>
		      <%= indent_small %><em><strong>
			<%= h(Category.find_all_by_translation_id(category.id)[0].name) %>
			<% if category.ontology.status != "Locked" %>
			  <%= link_to '<img src="/images/delta.jpg" border="0">', edit_category_path(category.id), :category %>
			<% end %>
		      </strong></em>
		    <% end %>
		    <% if Category.find_all_by_translation_id(category.id).empty? %>
		      <%= link_to '<img src="/images/translate.jpg" border="0">', new_category_path(:parent_id => @Category_Branch_Root, :uroot_id => @Category_Branch_Root, :translation_id => category.id) if permitted_to? :create, :categories %>
		    <% end %>
		  </td>
		<% end %>
	      </tr>
	      <% render_tree(category) do |branch| %>
		<tr>
		  <td>
		    <% (branch[1]+2).times do |n| %> <%= indent_small %> <% end %>
		    <em><%= h(branch[0].name) %></em>
		    <%= link_to '<img src="/images/add.jpg" border="0">', new_category_path(:parent_id => branch[0].id, :uroot_id => @Category_Branch_Root) if permitted_to? :create, :categories %>
		    <% if @ontology.status != "Locked" %>
		      <%= link_to '<img src="/images/delta.jpg" border="0">', edit_category_path(branch[0].id) if permitted_to? :edit, :category %>
		      <%= link_to '<img src="/images/delta.jpg" border="0">', :controller => 'categories', :action => 'edit', :id => branch[0].id, :uroot_id => @Category_Branch_Root if permitted_to? :edit, category %>
		      <%= link_to '<img src="/images/remove.jpg" border="0">', category_path(branch[0].id) if permitted_to? :delete, :category, :confirm => 'Are you sure?', :method => :delete %>
		      <% if Category.find_all_by_parent_id(branch[0].id).empty? %>
			<%= link_to '<img src="/images/remove.jpg" border="0">', branch[0], :confirm => 'Are you sure you want to delete this category?', :method => :delete if permitted_to? :delete, branch[0] %>
		      <% end %>
		    <% end %>
		    <%= indent_small %><%= link_to '<img src="/images/newPage.gif" border="0">', new_post_path(:category_id => branch[0].id) %>
		  </td>
		  <!-- I N T E R N A T I O N A L I Z A T I O N S -->
		  <% if @ontology.status == "Locked" %>
		    <td style="width=5">&nbsp;</td>
		    <td valign="top" nowrap>
		      <% (branch[1]+2).times do |n| %> <%= indent_small %> <% end %>
		      <% for translation in Category.find_all_by_translation_id(branch[0]) %>
			<em>
			  <%= h(translation.name) %>
			  <%# if translation.ontology.status != "Locked" %>
			    <%= link_to '<img src="/images/delta.jpg" border="0">', :controller => 'categories', :action => 'edit', :id => translation.id, :uroot_id => @Category_Branch_Root, :translation_id => branch[0] if permitted_to? :edit, translation %>
			    <%#= link_to '<img src="/images/delta.jpg" border="0">', edit_category_path(translation.id), :translation %>
			  <%# end %>
			</em>
		      <% end %>
		      <% if Category.find_all_by_translation_id(branch[0]).empty? %>
			<%= link_to '<img src="/images/translate.jpg" border="0">', new_category_path(:parent_id => @Category_Branch_Root, :uroot_id => @Category_Branch_Root, :translation_id => branch[0]) if permitted_to? :create, :categories %>
		      <% end %>
		    </td>
		  <% end %>
		</tr>
	      <% end %>
	    <% end %>
	  <% end %>
        </td>
    </table>
  </blockquote>
</p>
