<% @title = 'Ontology' %>

<p><b>Name:</b>
  <%=h @ontology.name %></p>

<p><b>Status:</b>
  <%=h @ontology.status %></p>

<p><strong>Language:</strong>
  <%=h @ontology.language.english_name %></p>
	
<p><b>URL for HTML searches:</b>
  <%=h @ontology.url_category_html %></p>

<p><b>URL for XML searches:</b>
  <%=h @ontology.url_category_xml %></p>

<p>
  <b>Category Trees:</b>
  <% if @ontology.categories(@collection).empty? %>
	  <em>(none found)</em>
  <% else %>
	  <ul>
		<% for category in @ontology.categories %>
		  <li><%=h category.name %> 
		  <%= link_to '<img src="/images/eye.jpg" border="0">', category_path %>
		  <%= link_to '<img src="/images/delta.jpg" border="0">', edit_category_path(category.id) %>
		  <%= link_to '<img src="/images/remove.jpg" border="0">', category_path(category.id), :confirm => 'Are you sure?', :method => :delete %></li>
		<% end %>
	  </ul>
  <% end %>

  <%= indent %><%= link_to '<img src="/images/add.jpg" border="0">', new_category_path(:ontology_id => @ontology.id) %>
</p>



<%= link_to 'Edit', edit_ontology_path(@ontology) %> |
<%= link_to 'Back', ontologies_path %>