<% @title = 'New User Taxonomy' %>

<% form_for(@taxonomies_user) do |f| %>
  <%= f.error_messages %>

  <p><%= label(:user, :id, 'User') %><br />
  	<strong><%= @user.full_name %></strong>
	<%= hidden_field_tag("taxonomies_user[user_id]", @user.id) %></p>

  <p><%= label(:taxonomy, :id, 'Taxonomy') %><br />
    <%= collection_select(:taxonomies_user, :taxonomy_id, Taxonomy.find(:all), :id, :name, options = {}, html_options = {}) %></p>
  
  <p><%= f.submit 'Create' %></p>

<% end %>

<%= link_to 'Back', taxonomies_users_path %>