<% @title = 'Edit Category' %>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p><%= label(:taxonomy, :id, 'Taxonomy') %><br />
  	<strong><%= @taxonomy.name %></strong>
	<%= hidden_field_tag("taxonomies_category[taxonomy_id]", @category.taxonomy_id) %></p>

  <%= hidden_field_tag("category[translation_id]", params[:translation_id]) %>

  <p><%= f.label :parent_category %><br />
  <%= tree_select(Category.find(:all, :conditions => "parent_id = 1"), 'category', 'parent_id', @category.parent) %></p>

  <p><%= f.label :category_name %><br />
    <%= f.text_field :name %></p>

  <p><%= f.label :category_meta %><br />
    <%= f.text_area :meta, :rows => 4, :cols => 45 %></p>
  
  <%# Note: Do not change the User_id to the current user. For instance were an Admin to update this, we want to leave the original "owner's" user_id. %>
  <%= hidden_field_tag("category[user_id]", @category.user_id) %>

  <p><%= f.submit 'Update' %></p>

  <p>&nbsp;</p>
  <p>
	  <b>Synonyms:</b>
	  <ul>
		  <% if @category.relationships(@category).empty? %>
			  <li><em>(none found)</em></li>
		  <% else %>
			<% for relationship in @category.relationships %>
			  <li><%=h relationship.synonym.name %>
			   <%= link_to '<img src="/images/remove.jpg" border="0">', relationship_path(relationship.id), :confirm => 'Are you sure?', :method => :delete %>
			   <%= link_to '<img src="/images/delta.jpg" border="0">', edit_relationship_path(relationship.id), :method => :get %></li>
			<% end %>
		  <% end %>
		  <li><em>add new...</em> <%= indent %><%= link_to '<img src="/images/add.jpg" border="0">', new_relationship_path(:category_id => @category.id) %></li>
	  </ul>
	</p>
	
	<p>
	  <b>Other categories that list this category as a synonym:</b>
	  <ul>
		  <% if @category.inverse_synonyms(@category).empty? %>
			  <li><em>(none found)</em></li>
		  <% else %>
			<% for inverse_synonym in @category.inverse_synonyms %>
			  <li><%=h inverse_synonym.name %></li>
			<% end %>
		  <% end %>
	  </ul>
	</p>
<% end %>

<%= javascript_tag "$('category_name').focus()" %>
<%= link_to 'Show', @category %> |
<%= link_to 'Back', taxonomy_path(@taxonomy.id) %>
