<h1>Editing validation</h1>

<% form_for(@validation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @validation %> |
<%= link_to 'Back', validations_path %>