<% @title = 'New Ontology for a Collection' %>

<% form_for(@collections_ontology) do |f| %>
  <%= f.error_messages %>

  <p><%= label(:collection, :id, 'Collection') %><br />
  	<strong><%= @collection.name %></strong>
	<%= hidden_field_tag("collections_ontology[collection_id]", @collection.id) %></p>

  <p><%= label(:ontology, :id, 'Ontology') %><br />
    <%= collection_select(:collections_ontology, :ontology_id, Ontology.find(:all), :id, :name, options = {}, html_options = {}) %></p>
  
  <p><%= f.label :status %><br />
	<%= f.select("status", %w[Live Replaced Prospective], {}, {}) %></p>

  <p><%= f.submit 'Create' %></p>

<% end %>

<%= link_to 'Back', collections_ontologies_path %>