<% @title = 'Ontology for a Collection' %>

<p><b>Collection:</b>
  <%=h @collections_ontology.collection.name %></p>

<p><b>Ontology:</b>
  <%=h @collections_ontology.ontology.name %></p>

<p><b>Status:</b>
  <%=h @collections_ontology.status %></p>

<%= link_to 'Edit', edit_collections_ontology_path(@collections_ontology) %> |
<%= link_to 'Back', collections_ontologies_path %>