<% @title = 'Taxonomies' %>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
  </tr>

<% @taxonomies.each do |taxonomy| %>
  <tr>
    <td><%=h taxonomy.name %></td>
    <td><%=h taxonomy.status %></td>
    <td><%= link_to '<img src="/images/eye.jpg" border="0">', taxonomy %></td>
    <td><%= link_to '<img src="/images/delta.jpg" border="0">', edit_taxonomy_path(taxonomy) %></td>
    <td><%= link_to '<img src="/images/remove.jpg" border="0">', taxonomy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New taxonomy', new_taxonomy_path %>