<% @title = 'Taxonomy' %>

<p><b>Name:</b>
  <%=h @taxonomy.name %></p>

<p><b>Status:</b>
  <%=h @taxonomy.status %></p>

<p><strong>Language:</strong>
  <%=h @taxonomy.language.english_name %></p>
	
<p><b>URL for HTML searches:</b>
  <%=h @taxonomy.url_category_html %></p>

<p><b>URL for XML searches:</b>
  <%=h @taxonomy.url_category_xml %></p>

<p>
  <b>Category Trees:</b>
  <% if @taxonomy.categories(@collection).empty? %>
	  <em>(none found)</em>
  <% else %>
	  <ul>
		<% for category in @taxonomy.categories %>
		  <li><%=h category.name %> 
		  <%= link_to '<img src="/images/eye.jpg" border="0">', category_path %>
		  <%= link_to '<img src="/images/delta.jpg" border="0">', edit_category_path(category.id) %>
		  <%= link_to '<img src="/images/remove.jpg" border="0">', category_path(category.id), :confirm => 'Are you sure?', :method => :delete %></li>
		<% end %>
	  </ul>
  <% end %>

  <%= indent %><%= link_to '<img src="/images/add.jpg" border="0">', new_category_path(:taxonomy_id => @taxonomy.id) %>
</p>



<%= link_to 'Edit', edit_taxonomy_path(@taxonomy) %> |
<%= link_to 'Back', taxonomies_path %>