<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
	<title>InterEthos - <%= @title %></title>
  	<%= stylesheet_link_tag 'scaffold' %>
  	<%= javascript_include_tag :defaults %>
</head>
<body style="background-color:#006600" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0" >
<a name="home"></a>
<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%" border="0">
<tr><td valign="middle" align="center">&nbsp;<br />
	<table bgcolor="#BCFCC1" align="center" cellpadding="20" cellspacing="0" border="0">
	<tr>
	<td valign="middle" align="center" style="width=99%">
		<table bgcolor="#BCFCC1" align="center" cellpadding="0" cellspacing="0" border="0">
			<!-- G R A D I E N T   " S H A D O W "   T O P -->
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#006600" colspan="11"><img src="/images/pixel.gif"></td></tr>
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#187918" colspan="10"><img src="/images/pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#006600"><img src="pixel.gif"></td></tr>
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#2f8c31" colspan="9"><img src="/images/pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#187918"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#006600"><img src="pixel.gif"></td></tr>
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#479f49" colspan="8"><img src="/images/pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#2f8c31"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#187918"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#006600"><img src="pixel.gif"></td></tr>
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#5fb261" colspan="7"><img src="/images/pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#479f49"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#2f8c31"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#187918"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#006600"><img src="pixel.gif"></td></tr>
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#76c479" colspan="6"><img src="/images/pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#5fb261"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#479f49"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#2f8c31"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#187918"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#006600"><img src="pixel.gif"></td></tr>
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#8ed792" colspan="5"><img src="/images/pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#76c479"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#5fb261"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#479f49"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#2f8c31"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#187918"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#006600"><img src="pixel.gif"></td></tr>
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#a5eaaa" colspan="4"><img src="/images/pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#8ed792"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#76c479"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#5fb261"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#479f49"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#2f8c31"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#187918"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#006600"><img src="pixel.gif"></td></tr>
			<tr class="horiz_pixel"><td class="horiz_pixel" bgcolor="#bcfcc1" colspan="3"><img src="/images/pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#a5eaaa"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#8ed792"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#76c479"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#5fb261"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#479f49"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#2f8c31"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#187918"><img src="pixel.gif"></td>
				<td class="horiz_and_vert_pixel" bgcolor="#006600"><img src="pixel.gif"></td></tr>
			<tr>
				<!-- L E F T   N A V B A R -->
				<td valign="top" align="center">
					<table bgcolor="#BCFCC1" align="center" cellpadding="10" cellspacing="0" border="0" height="500">
						<% navbar_link_array = Array.new %>
						<% if authorized? %>
							<% if current_user.roles.to_s == "admin" %>
								<% navbar_link_array = [root_path, collections_path, ontologies_path, categories_path, users_path, logout_path] %>
							<% else %>
								<% navbar_link_array = [root_path, collections_path, ontologies_path, categories_path, logout_path] %>
							<% end %>
						<% else %>
							<% navbar_link_array = [root_path, login_path, collections_path, ontologies_path, categories_path] %>
						<% end %>
						<% cell_height = 100/navbar_link_array.length %>
						<% for navbar_link in navbar_link_array %>
							<tr height="<%= cell_height %>%">
								<% if navbar_link.length == 1 %>
									<td align="left" valign="middle" <% if session[:current_location] == "welcome" %> bgcolor="#F3FFCE"<% end %>>
										<% if session[:current_location] == "welcome" %><%= link_to '<img src="/images/Logo_Darker_w_High_Pass_Emboss.gif" border="0">', :controller => :welcome %><% else %><%= link_to '<img src="/images/Logo_Whiter_w_High_Pass_Emboss.gif" border="0">', :controller => :welcome %><% end %><br />
									</td>
								<% else %>
									<td align="left" valign="middle" <% if session[:current_location].delete("/") == navbar_link.delete("/") %> bgcolor="#F3FFCE"<% end %>>
										<%= link_to navbar_link.delete("/"), navbar_link %>
									</td>
								<% end %>
							</tr>
						<% end %>
					</table>
				</td>
				
				<!-- M A I N   C O N T E N T -->
				<td bgcolor="#FFFFFF" valign="top" align="left" width="610" height=100%>
					<%#= Following "color gradient" developed using "http://www.vex.net/~x/xfade/xpage.py?p=table_form" %>
					<table cellpadding="0" cellspacing="0" border="0" width=100% height=100%>
						<tr>
							<td valign="top" align="left">
								<table cellpadding="10" cellspacing="0" border="0" width=100%>
									<tr>
										<td align="left">
											<table border=0 width=100%>
												<tr>
													<td align="left">
														<span style="font-size:18px"><%= @title %></span>
													</td>
													<td align="right">
														<span style="font-size:12px; color:#CCCCCC; font-style:italic">user: 
															<% if authorized? %>
																<%= current_user.full_name %>
															<% else %>
																guest
															<% end %>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									
									<%# M A I N   B O D Y   O F   P A G E %>
									<tr>
										<td>
											<% if :notice.to_s.length >= 1 %>
											  <p style="color:green; background-color:#F3FFCE"><%= flash[:notice] %></p>
											<% end %>
											<%= yield  %>
											<% if session[:branch_clicks] != nil %>
												<% if session[:branch_clicks] > 0 %>
													<%#= session[:branch_clicks] %>
													<%#= link_to "List", session[:current_location] %>
												<% end %>
												<% session[:branch_clicks] =  session[:branch_clicks] + 1 %>
											<% end %>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
				<!-- G R A D I E N T   " S H A D O W "   R I G H T   S I D E -->
				<td style="width=1" bgcolor="#bcfcc1"><img src="/images/pixel.gif"></td>
				<td style="width=1" bgcolor="#a5eaaa"><img src="/images/pixel.gif"></td>
				<td style="width=1" bgcolor="#8ed792"><img src="/images/pixel.gif"></td>
				<td style="width=1" bgcolor="#76c479"><img src="/images/pixel.gif"></td>
				<td style="width=1" bgcolor="#5fb261"><img src="/images/pixel.gif"></td>
				<td style="width=1" bgcolor="#479f49"><img src="/images/pixel.gif"></td>
				<td style="width=1" bgcolor="#187918"><img src="/images/pixel.gif"></td>
				<td style="width=1" bgcolor="#2f8c31"><img src="/images/pixel.gif"></td>
				<td style="width=1" bgcolor="#006600"><img src="/images/pixel.gif"></td>
			</tr>
		</table>
	</td></tr>
	</table>
	&nbsp;<br />
</td></tr>
</table>

</body>
</html>
